.section-python {
  height: 100%;
  background-color: #512e5f;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}
.border-puth{
  margin-bottom: 50px;
  width: 100%;
}
.card {
  box-shadow: 0 0px 8px 0 grey;
  transition: 0.3s;
  height: 430px;
  width: 250px;
  margin: 10px;
  margin-top: 50px;
  border-radius: 10%;
  transition: 1s;
}
.card:hover {
  box-shadow: none;
}
.card h4{
    color: whitesmoke;
}
.card p{
    color: whitesmoke;
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}
.card img{
    height: 350px;
    width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

@media (max-width: 500px){
    .card{
        margin-top: 50px;
    }
    .border-puth{
      margin-bottom: 60px;
    }
}