@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Ubuntu", sans-serif;
}
#mainnav {
  position: absolute;
  z-index: 1;
}
#mainnav li {
  margin: 55px 0;
  left: -550px;
  position: relative;
  display: none;
}
#mainnav a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  transition: all 0.25s ease-out;
}
#mainnav a:hover {
  color: #117864;
}
ul li {
  margin-top: -50px;
  list-style: none;
}
.hamb {
  top: 20px;
  left: 20px;
  position: absolute;
  font-size: 1.5rem;
  z-index: 1;
}
.hamb a {
  text-decoration: none;
  color: #fff;
}
html,
body,
.hero {
  height: 100%;
  overflow: hidden;
}
.hero {
  width: 100%;
  height: 100%;
  background-color: #212f3c;
  overflow: hidden;
}

#bubble {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  display: none;
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
}
.gap {
  margin-top: 100px;
  width: 200px;
  color: white;
}
@media only screen and (max-width: 400px) {
  #mainnav li {
    margin: 35px 0;
  }
  .clock-section .name {
    padding: 20px;
  }
  .clock-section .qoute {
    font-size: 18px;
  }
}
/* Clock Here */
.clock-section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: url("/images/clock.png");
  background-size: cover;
  border: 4px solid #212f3c;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 10000;
}
.no-before:before {
  opacity: 0;
}
.clock:hover,
.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}
.clock .hour,
.hr {
  width: 160px;
  height: 160px;
}
.clock .min,
.mn {
  width: 190px;
  height: 190px;
}
.clock .sec,
.sc {
  width: 230px;
  height: 230px;
}
.hr,
.sc,
.mn {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #117864;
  border-radius: 6px 6px 0 0;
}
.mn:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
/* Clock End */
/* Sections */
.section-home {
  height: 100%;
  background: #212f3c;
}
.hidden {
  display: none;
}
.clock-section .name {
  position: relative;
  top: 220px;
  font-size: 18px;
  color: whitesmoke;
}
.tracking-in-contract-bck-bottom {
  -webkit-animation: tracking-in-contract-bck-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@media (max-width: 350px) {
  .clock {
    width: 275px;
    height: 275px;
  }
  .clock-section .name {
    padding: 20px;
    top: 190px;
  }
}
